<mat-card>
    <mat-card-title>
        Agendamento de Transferência
    </mat-card-title>

    <mat-card-content>
        <form [formGroup]="form">
            <mat-form-field appearance="outline">
                <mat-label>Conta Origem</mat-label>
                <input
                    matInput
                    formControlName="originAccount">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Conta Destino</mat-label>
                <input
                    matInput
                    formControlName="destinationAccount">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Valor</mat-label>
                <input
                    matInput
                    type="number"
                    formControlName="amount">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Data</mat-label>
                <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="transferDate">
                <mat-datepicker-toggle
                    matSuffix
                    [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker />
            </mat-form-field>

            <div class="actions">
                <button
                    mat-raised-button
                    color="primary"
                    (click)="submit()"
                    [disabled]="loading">
                    {{ loading ? 'Agendando...' : 'Agendar' }}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>